.window{
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 1rem ;
}

.navbar{
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user{
    display: flex;
    background-color: blue;
    border-radius: 50%;
    padding: 0.2rem;
}


.message{
    margin-top: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0.1rem;
    justify-content: space-between;
    align-items: center;
}

.ask input{
    width: 55vw;
    height: 2.5rem;
    padding: 0.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    border-radius: 5px;
    border: 1px solid gray;
    margin-right: 1rem;
    color: white;
    font-size: medium;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px,
                rgba(0, 0, 0, 0.05) 0 -12px 30px,
                rgba(0, 0, 0, 0.05) 0 4px 6px,
                rgba(0, 0, 0, 0.05) 0 12px 3px,
                rgba(0, 0, 0, 0.05) 0 -3px 5px;
}

.ask input:focus{
    outline: none;
    border: 1px solid #4A90E2;
}

/* button must be placed after input selector */
.ask button{
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 11rem;
    bottom: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    opacity: 0.6;
}

.ask button:hover{
    opacity: 1;
    transition: opacity 0.1s;
}

.chat-footer{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: gray;
}

.dropDown{
    position: absolute;
    width: 8rem;
    top: 3rem;
    right: 2rem;
    align-items: left;
    background-color: #323232;
    border-radius: 1rem 0 1rem 1rem;
    padding: 0.5rem;
    z-index: 1000;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}


.dropDownItem{
    font-size: 0.9rem;
    padding: 0.3rem;
    cursor: pointer;
    border-radius: 1rem;
}


.dropDownItem:hover{
    background-color: rgba(180, 180, 180, 0.1);
}