.chats {
    flex-grow: 1;
    overflow-y: auto;
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}


.chats::-webkit-scrollbar {
    display: none;
}


.user-div {
    align-self: flex-end;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #0b2e4f;
    border-radius: 1rem 1rem 0 1rem;
    padding-inline: 0.7rem;
    font-size: 14px;
}




.bot-div {
    align-self: flex-start;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: #484747; */
    border-radius: 0 1rem 1rem 1rem;
    padding-inline: 0.7rem;
    font-size: 14px;
}


.hljs{
    width: 100%;
    border-radius: 0.7rem;
}

.pre{
    white-space: pre-wrap;
}